/*SIMPLE VISIBLES*/
.hidden
{
	visibility: hidden;
}

.show
{
	visibility: show;
}

/*MULTICOLS*/
.multiCols {
	position: relative;
	margin: 300px auto 0;
	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #000, #272727);
}

.multiCols:before, .multiCols:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.multiCols:after {
	filter: blur(50px);
}

/*UHOVER*/
.uHover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.uHover:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.uHover:hover::before {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.uHover:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

/*FLWARNING*/
.flWarning {
  text-align: center;
  font-size: 6.5em;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: animation-flWarning .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes animation-flWarning {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

/*CANRESO / ANRESO*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


.CanReso, .anReso {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.CanReso{    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

.anReso {
  width:0px;
  animation: reveal 7s infinite;
}

.anReso span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

/*WHITE MODE*/

.white-mode {
	background-color: #122;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

/*ANTBAK*/
.anTbak {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

/*TDP*/
.tDp
{
    text-shadow:0 0 2px #FFD100,0 0 30px #FFD100,0px 0px 5px #FFD100, 0 0 150px #FFD100;
	color:#FFD100;
}

/*TDB*/
.tDb
{
	text-shadow:#ff006e 2.5px 2.5px 0, #8338ec 5px 5px 0, #3a86ff 7.5px 7.5px 0, #333 10px 10px 10px;color:#ffcc00;
}

/*POSTIT*/
.postit{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-6deg);
  transition: transform .15s linear;
}

.postit:hover,.postit:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

/*ACCORDIONMENU*/
.accordionMenu,
.accordionMenu ul,
.accordionMenu li,
.accordionMenu a,
.accordionMenu span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.accordionMenu li {
    list-style: none;
}

.accordionMenu li > a {
    display: block;
    position: relative;
    min-width: 110px;
    padding: 0 10px 0 40px;
 
    color: #fdfdfd;
    font: bold 12px/32px Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
 
    background: #6c6e74;
    background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
    background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
 
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.accordionMenu li > a span {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0 10px;
    margin-right: 10px;
 
    font: normal bold 12px/18px Arial, sans-serif;
    background: #404247;
 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
 
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
    box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}

.aSub-menu li a {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
 
    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;
 
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
 
.aSub-menu li:last-child a { border: none; }
 
.aSub-menu li > a span {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: transparent;
    border: 1px solid #c9c9c9;
 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
 
.aSub-menu em {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 14px;
    color: #a6a6a6;
    font: normal 10px/32px Arial, sans-serif;
}

.accordionMenu > li:hover > a,
.accordionMenu > li:target > a {
    color: #3e5706;
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
 
    /*background: url(../img/active.png) repeat-x;*/
    background: #a5cd4e;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}
 
.accordionMenu > li:hover > a span,
.accordionMenu > li:target > a span {
    color: #fdfdfd;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
    background: #3e5706;
}
 
.aSub-menu li:hover a { background: #efefef; }

.accordionMenu li > .aSub-menu {
    height: 0;
    overflow: hidden;
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
 
.accordionMenu li:target > .aSub-menu {
    height: 98px;
}

.accordionMenu a {
	-moz-transition:color 0.3s ease-out;
	-webkit-transition:color 0.3s ease-out;
	-o-transition:color 0.3s ease-out;
	transition:color 0.3s ease-out;
}
/* MENU STYLE */

.top {
	width:100%;
}
.top {
	background: #222;
	float:left;
	height:30px;
	line-height:30px;
	width:100%;
}
.top nav.topmenu {
	margin:0 auto;
	padding:0 15px;
	position:relative;
	width:960px;
}
.top nav.topmenu ul {
	margin:0
	padding:0;
}
.top nav.topmenu ul li {
	float:left;
	position:relative;
	font-size:10px;
	list-style:none;
	margin:0;
	padding:0;
	width:90px;
	text-align:center;
	text-transform:uppercase;
	border-right:1px solid #ccc;	
}
.top nav.topmenu ul li:first-child {
	border-left:1px solid #ccc;
}
.top nav.topmenu ul li a {
	color:rgba(255,255,255,0.6);
	text-decoration:none;
	display:block;
}
.top nav.topmenu ul li a:hover {
	color:#fff;
}
.top nav.topmenu ul li:hover > a { /* ACTIVATE LINK WHEN THE MOUSE OVER SUB-MENU */
	color:#fff;
}
.top nav.topmenu ul li span { 
	background:url(arrow.png) center no-repeat;
	height:10px;
	position:absolute;
	text-indent:-9999px;
	top:10px;
	right:5px;
	width:10px;
}
.top nav.topmenu ul li span.arrow {
	background-position:0 2px;
}
.top nav.topmenu ul li span.arrow-right {
	background-position:-10px 2px;
}
.top nav.topmenu ul li ul.sublist { /* FIRST SUB-MENU STYLE */
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	left:0px;
	top:31px;
	background:#222;
	width:90px;
	opacity:0;
	visibility:hidden; /* Avoids being selected even if the opacity is set to 0 */
        
        /* CSS3 Multiple Transitions */

	-moz-transition:opacity 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear; 
	-webkit-transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
	-o-transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
	transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
}
.top nav.topmenu ul li ul.sublist li {
	border:none;
	border-bottom:1px solid #ccc;
	clear:both;
	margin-top:-15px;
	padding:0;
	width:90px;
	-moz-transition:opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	-webkit-transition:opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	-o-transition:opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	transition:opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
}
.top nav.topmenu ul li ul.sublist li a {
	color:rgba(255,255,255,0);
}
.top nav.topmenu ul li:hover ul.sublist {
	opacity:1;
	visibility:visible;
}
.top nav.topmenu ul li:hover ul.sublist li {
	margin-top:0;
	opacity:1;
}
.top nav.topmenu ul li:hover ul.sublist li a {
	color:rgba(255,255,255,0.6);	
	-moz-transition:color 0.1s ease-out;
	-webkit-transition:color 0.1s ease-out;
	-o-transition:color 0.1s ease-out;
	transition:color 0.1s ease-out;
}
.top nav.topmenu ul li:hover ul.sublist li a:hover {
	color:rgba(255,255,255,1);	
	-moz-transition:color 0.3s ease-out;
	-webkit-transition:color 0.3s ease-out;
	-o-transition:color 0.3s ease-out;
	transition:color 0.3s ease-out;
}
.top nav.topmenu ul li:hover ul.sublist li:hover > a { 
        /* ACTIVATE LINK SUB-MENU WHEN THE MOUSE OVER SUBSUB-MENU*/
	color:#fff;
}

/* SUB-MENU SUB STYLE*/
.top nav.topmenu ul li ul.sublist li ul.subsublist {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	left:61px;
	top:0px;
	background:#222;
	width:90px;
	opacity:0;
	visibility:hidden;
	-moz-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
	-webkit-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
	-o-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
	transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
.top nav.topmenu ul li ul.sublist li ul.subsublist li{
	border:none;
	border-bottom:1px solid #ccc;
	clear:both;
	margin:0;
	padding:0;
	width:90px;
	opacity:1;
}
.top nav.topmenu ul li ul.sublist li:hover ul.subsublist {
	opacity:1;
	left:91px;
	visibility:visible;
}

/*SQMENU*/

/*.sqMenu{
  width: 620px;
  margin: 100px auto; padding: 15px;    
  list-style: none;
  counter-reset: li;
  background: #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  border-radius: 10px;
}

.sqMenu:before,
.sqMenu:after {
  content: "";
  display: table;
}

.sqMenu:after {
  clear: both;
}

.sqMenu {
  zoom:1;
}

.sqMenu li {
  position: relative;
  float: left;
  cursor: pointer;
  height: 120px; width: 200px;
  margin: 10px 0 0 10px;
  color: #fff;
} 

.sqMenu li:hover, .sqMenu li:focus{
  background-image: linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
}

.sqMenu .cover{
  z-index: 2;
}

.sqMenu .cover:focus{
  outline: 0;
}


.sqMenu li::after{
  content: counter(li);
  counter-increment: li;
  font: italic bold 10px serif, georgia;
  position: absolute;
  color: rgba(255,255,255,.1);
  opacity: 0;
  transition: all .2s ease-out;    
}      

.sqMenu li:hover::after, .sqMenu li:focus::after{
  font-size: 100px;
  opacity: 1; 
}

.sqMenu .cover::after{
  z-index: -1;
}

.sqMenu li:nth-child(1),
.sqMenu li:nth-child(2),
.sqMenu li:nth-child(3){
  margin-top: 0;
}

.sqMenu li:nth-child(1),
.sqMenu li:nth-child(4),
.sqMenu li:nth-child(7){
  margin-left: 0;      
}
     

.sqMenu li:nth-child(1),
.sqMenu li:nth-child(1) .aContent,
.sqMenu li:nth-child(1) .close{
  background-color: #2c618f;
}         

.sqMenu li:nth-child(2),
.sqMenu li:nth-child(2) .aContent,
.sqMenu li:nth-child(2) .close{
  background-color: #91ab31;   
}   

.sqMenu li:nth-child(3),
.sqMenu li:nth-child(3) .aContent,
.sqMenu li:nth-child(3) .close{
  background-color: #714a28;   
}

.sqMenu li:nth-child(4),
.sqMenu li:nth-child(4) .aContent,
.sqMenu li:nth-child(4) .close{
  background-color: #e58600;      
}

.sqMenu li:nth-child(5),
.sqMenu li:nth-child(5) .aContent,
.sqMenu li:nth-child(5) .close{
  background-color: #c33a00;
}

.sqMenu li:nth-child(6),
.sqMenu li:nth-child(6) .aContent,
.sqMenu li:nth-child(6) .close{
  background-color: #7f5dac;
}

.sqMenu li:nth-child(7),
.sqMenu li:nth-child(7) .aContent,
.sqMenu li:nth-child(7) .close{
  background-color: #5672b7;     
}

.sqMenu li:nth-child(8),
.sqMenu li:nth-child(8) .aContent,
.sqMenu li:nth-child(8) .close{
  background-color: #69003f;
}

.sqMenu li:nth-child(9),
.sqMenu li:nth-child(9) .aContent,
.sqMenu li:nth-child(9) .close{
  background-color: #393043;
}

.sqMenu .aContent{
  opacity: 0; display: none\9;
  overflow: hidden;
  font: 12px Arial, Helvetica;
  position: absolute;
  height: 120px; width: 200px; 
  transition: all .3s ease-out;      
}  

.sqMenu .expanded{
  opacity: .95;
  display: block;
  overflow: visible;
  padding: 40px;
  height: 300px; width: 540px;
}

.sqMenu li:nth-child(3n) .aContent{
  right: 0;
}

.sqMenu li:nth-child(3n-1) .expanded{
  left: 50%;
  margin-left: -310px;
}

.sqMenu li:nth-child(7) .aContent,
.sqMenu li:nth-child(8) .aContent,
.sqMenu li:nth-child(9) .aContent{
  bottom: 0;
}                      

.sqMenu li:nth-child(4) .expanded,
.sqMenu li:nth-child(5) .expanded,
.sqMenu li:nth-child(6) .expanded{
  margin-top: -190px;
  top: 50%;
} 


.sqMenu .title{
  position: absolute;
  height: 100%; width: 100%;
  text-align: center;
  font: italic bold 1em/120px 'trebuchet MS', Arial, helvetica;
  opacity: .2;
}

.sqMenu li:hover .title{
  opacity: .7;
}    


.sqMenu .close {
  display: none;
  border: 5px solid #fff;
  color: #fff;
  cursor: pointer;
  height: 40px; width: 40px;
  font: bold 20px/40px arial, helvetica;
  position: absolute;
  text-align: center;
  top: -20px; right: -20px;
  border-radius: 40px;      
}

.sqMenu .cover .close{
  display: block;
}*/

/*ACCORDION ARTICLES*/

.accordionArticles,.accordionArticles div,.accordionArticles h1,.accordionArticles p,.accordionArticles a,.accordionArticles img,.accordionArticles span,.accordionArticles em,.accordionArticles ul,.accordionArticles li {
    margin: 0;
    padding: 0;
    border: none;
}

.accordionArticles {
    width: 290px;
    padding: 1px 5px 5px 5px;
    background: #141517;
 
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .05);
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255, .05);
    box-shadow: 0px 1px 0px rgba(255,255,255, .05);
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.accordionArticles .aTab {
    display: block;
    height: 35px;
    margin-top: 4px;
    padding-left: 20px;
    font: bold 12px/35px Arial, sans-serif;
    text-decoration: none;
    color: #eee;
 
    text-shadow: 1px 1px 0px rgba(0,0,0, .2);
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
 
    background: #6c6e74;
    background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
    background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
 
    -webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
    -moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
    box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
}

.accordionArticles .aTab:hover,
.accordionArticles div:target .aTab {
    color: #2b3b06;
 
    text-shadow: 0px 1px 0px rgba(255,255,255, .15);
 
    background: #a5cd4e;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
    box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
}

.accordionArticles div .aContent {
    display: none;
    margin: 5px 0;
}
 
.accordionArticles div:target .aContent {
    display: block;
}
 
.accordionArticles > div {
    height: 40px;
    overflow: hidden;
 
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
 
.accordionArticles > div:target {
    height: 100px;
}

.accordionArticles .aContent h1 {
    color: white;
    font: 18px/32px Arial, sans-serif;
}
 
.accordionArticles .aContent p {
    margin: 10px 0;
    color: white;
    font: 11px/16px Arial, sans-serif;
}
 
.accordionArticles .aContent span {
    font: italic 11px/12px Georgia, Arial, sans-serif;
    color: #4f4f4f;
}
 
.accordionArticles .aContent em.aBullet {
    width: 5px;
    height: 5px;
    margin: 0 5px;
    background: #6b8f1a;
    display: inline-block;
 
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
    box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.accordionArticles .aContent ul li {
    list-style: none;
    float: left;
    margin: 5px 10px 5px 0;
}
 
.accordionArticles .aContent img {
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
    box-shadow: 2px 2px 6px rgba(0,0,0, .5);
}

.accordionArticles > div:target {
    height: 360px;
}

/*USERLOGIN BOX*/
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > *{
  display: inline-block;
  width: 200px;
}

.user-icon{
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(https://pbs.twimg.com/profile_images/725321660484583424/ArQ4fM3k.jpg);
}

.user-name{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.user-password{
  width: 120px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

.blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 width: 300px;
 height: 300px;
 background: inherit; 
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;  
 top position 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}

.mega{
  font-size: 90px;
  font-weight: bold;
  background: linear-gradient(to right, #7927b2, #fb3182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 350px;
  text-transform: uppercase;
  line-height: .77;
}
/*BUTTONS TRANSITIONS*/
.button
{
	display: inline-block;
    vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: box-shadow;
  	transition-property: box-shadow;
  	box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px #2098D1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

.hvr-hollow:hover, .hvr-hollow:focus, .hvr-hollow:active {
  background: none;
}

.hvr-trim:hover:before, .hvr-trim:focus:before, .hvr-trim:active:before {
  opacity: 1;
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.bigger:hover, bigger:focus
{
	transform: scale(1.3)
}

/*STAR WARS CRAWL*/

.star-wars {
	width: 100%;
  	height: 100%;
  	background: #000;
  	overflow: hidden;
  	display: flex;
  	justify-content: center;
  	position: relative;
  	height: 800px;
  	color: #feda4a;
  	font-family: 'Pathway Gothic One', sans-serif;
  	font-size: 500%;
  	font-weight: 600;
  	letter-spacing: 6px;
  	line-height: 150%;
  	perspective: 400px;
  	text-align: justify;
}

.crawl {
  	position: relative;
  	top: 99999px;
  	transform-origin: 50% 100%;
  	animation: crawl 60s infinite;
}

.crawl > .title {
  	font-size: 90%;
  	text-align: center;
}

.crawl > .title h1 {
  	margin: 0 0 100px;
  	text-transform: uppercase;
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/*CAROUSEL*/
.carousel { 
	border: 1px solid black;
	background: #000;
}

.carousel, .carousel img {
	width: 800px; height: 341px;
}

.carousel { overflow: hidden; }
.carousel { transform: translateX(-800px); }
.carousel { width: 1000px;  }

@keyframes slider {
	0% { transform: translateX(0px); }
	20% { transform: translateX(0px); }
	25% { transform: translateX(800px); }
	45% { transform: translateX(800px); }
	50% { transform: translateX(1600px); }
	70% { transform: translateX(1600px); }
	75% { transform: translateX(2400px); }
	95% { transform: translateX(2400px); }
	100% { transform: translateX(0px);  }
}

.carousel {
	animation-name:slider;
	animation-duration:10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
}

.carousel:hover { animation-play-state:paused; }

.carousel:after {
	content: "❚❚";
	font-size: 150px;
	position: absolute;
	z-index: 12;
	color: rgba(255,255,255, 0);
	left: 300px; top: 80px;
	transition: 1s all ease-in-out;
}

.carousel:hover:after {
	color: rgba(255,255,255, 0.6);
}

/*BORDERS*/
.art {border: 4mm ridge rgba(170, 50, 220, .6);}
/*TEXT DECORATIONS*/
.blinked {text-decoration: blink;}
.underlined {text-decoration: underline;}
.overlined {text-decoration: overline;}
.crossed {text-decoration: line-through}
/*BEAUTIFULS BACKGROUNDS SIMPLE UNIFORM COLOR*/
.silver {background-color: silver;}
.gray {background-color: gray;}
.black {background-color: black;color: white;}
.red {background-color: red;}
.maroon {background-color: maroon;}
.lime {background-color: lime;}
.green {background-color: green;}
.yellow {background-color: yellow;}
.olive {background-color: olive;}
.blue {background-color: blue;}
.navy {background-color: navy;}
.fuchsia {background-color: fuchsia;}
.purple {background-color: purple;}
.azure {background-color: aqua;}
.teal {background-color: teal;}
.orange {background-color: orange;}



/*BEAUTIFULS LINEAR BACKGROUNDS*/
.blackWhite {background: linear-gradient(0deg, black, white);color: white;}
.blueRed {background: linear-gradient(0deg, blue, red);}
.whiteGreen {background: linear-gradient(0deg, white, green);}
.doubleBlueRed {background: linear-gradient(90deg, blue, red);}
.doubleBlackWhite {background: linear-gradient(90deg, black, white);}
.doubleWhiteGreen {background: linear-gradient(90deg, white, green);}
/*BEAUTIFULS RADIALS BACKGROUNDS*/
.radialWhiteGreen {background-image: radial-gradient(circle at center, white, green);}
.radialBlueRed {background-image: radial-gradient(circle at center, blue, red);}
.radialBlackWhite {background-image: radial-gradient(circle at center, black, white);}
/*BEAUTIFULS ANIMATED BACKGROUNDS*/
@keyframes blueRed {
	0% {background-color: blue}
	50% {background-color: violet}
	100% {background-color: red;}
}
.animateBlueRed {animation: 1s blueRed infinite;}

@keyframes blackWhite {
	0% {background-color: black;color: white;}
	50% {background-color: grey}
	100% {background-color: white;}
}
.animateBlackWhite {animation: 1s blackWhite infinite;}

@keyframes whiteGreen {
	0% {background-color: white}
	50% {background-color: lime}
	100% {background-color: green;}
}
.animateWhiteGreen {animation: 1s whiteGreen infinite;}
/*BEAUTIFULS TURNING LINEARS BACKGROUNDS*/
@keyframes tBlueRed {
	0% {background: linear-gradient(0deg, blue, red);}
	25% {background: linear-gradient(90deg, blue, red);}
	50% {background: linear-gradient(180deg, blue, red);}
	75% {background: linear-gradient(270deg, blue, red);}
	100% {background: linear-gradient(360deg, blue, red);}
}
.turningBlueRed {animation: 1s tBlueRed infinite;}
@keyframes tBlackWhite{
	0% {background: linear-gradient(0deg, black, white);}
	25% {background: linear-gradient(90deg, black, white);}
	50% {background: linear-gradient(180deg, black, white);}
	75% {background: linear-gradient(270deg, black, white);}
	100% {background: linear-gradient(360deg, black, white);}
}
.turningBlackWhite {animation: 1s tBlackWhite infinite;}

@keyframes tWhiteGreen{
	0% {background: linear-gradient(0deg, white, green);}
	25% {background: linear-gradient(90deg, white, green);}
	50% {background: linear-gradient(180deg, white, green);}
	75% {background: linear-gradient(270deg, white, green);}
	100% {background: linear-gradient(360deg, white, green);}
}
.turningWhiteGreen {animation: 1s tWhiteGreen infinite;}
/*BEAUTIFULS RPETS BACKGROUNDS*/
.rpetBlackWhite {background: repeating-radial-gradient(farthest-side ellipse at center, white, black, white 80px);}
.rpetBlueRed {background: repeating-radial-gradient(farthest-side ellipse at center, blue, red, blue 80px);}
.rpetWhiteGreen {background: repeating-radial-gradient(farthest-side ellipse at center, green, white, green 80px);}

/*BBLINK*/

.bBlink /*BACKGROUND*/{
        width: 220px;
        height: 50px;
        background-color: #342ab8;
        padding: 10px;
        text-align: center;
        line-height: 50px;
      }
      
.bBlink /*BLINK*/{
        font-size: 26px;
        font-family: cursive;
        color: #fff;
        animation: bBlink 2s linear infinite;
}

@keyframes bBlink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: .5;
        }
        100% {
          opacity: 1;
        }
}

.float {float: left;}
.stopFloat {clear: both;}

/*JOURNALS*/

.journal
{
	column-count: 4;
}

.journal-dashed
{
	column-count: 4;
	column-rule: 2px dashed #555;
}

.journal-expend
{
	column-span: all;
}

.journal-break
{
	break-before: column;
}

.hyphens {hyphens: auto;}

/*TRANSFORMS*/

.XskewRight {transform: skewX(-20deg);}
.XskewLeft {transform: skewX(20deg);}
.YskewRight {transform: skewY(-20deg);}
.YskewLeft {transform: skewY(20deg);}
.rotaRight {transform: rotate(20deg);}
.rotaLeft {transform: rotate(-20deg);}
.rUpRight {-moz-transform-origin: top 0 right 0;transform: rotate(20deg);}
.rUpLeft {transform-origin: top 0 left 0;transform: rotate(20deg);}
.rDownRight {transform-origin: bottom 0 right 0;transform: rotate(20deg);}
.rDownLeft {transform-origin: bottom 0 left 0;transform: rotate(20deg);}
.sBigger {transform: scale(1.3);}
.sSmaller {transform: scale(0.7);}
.sExpendX {transform: scale(1.3, 0.6);}
.sExpendY {transform: scale(0.6, 1.3);}

.xtraShadow 
{
	max-width: 100%;
    height: auto;
  	border-radius: 8px;
  	box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),0 8px 16px -8px hsla(0, 0%, 0%, 0.3),0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

/*CAROUSEL*/

.sixframe-carousel {
	width: 100%;
	height: 100vh; /* Height of images */
	position: relative;
	overflow: hidden;
}
.sixframe-carousel .sixframe-img {
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
	animation: carousel-fade 30s linear infinite;
}
.sixframe-carousel .sixframe-img:nth-child(2) {
	animation-delay: 5s;
}
.sixframe-carousel .sixframe-img:nth-child(3) {
	animation-delay: 10s;
}
.sixframe-carousel .sixframe-img:nth-child(4) {
	animation-delay: 15s;
}
.sixframe-carousel .sixframe-img:nth-child(5) {
	animation-delay: 20s;
}
.sixframe-carousel .sixframe-img:nth-child(6) {
	animation-delay: 25s;
}

@keyframes carousel-fade {
	0%, 20%, 100% { opacity: 0; }
	5%, 15% { opacity: 1;}
}

/*BOXES SHADOWS*/

.boxArticle
{
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}

.boxArticleInset
{
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black inset;
}

/*THUMB*/

.thumb {
    width: 400px;
    height: 300px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url("https://picsum.photos/id/1001/5616/3744");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}
.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}
.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}


.blackWhiteCard {
  margin-right: 10px;
  border-radius: 15px;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: .5s;
  transform: rotate(360deg);
}

.blackWhiteCard:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: .5s;
  transform: rotateX(180deg);
}

.norm:hover {box-shadow: 0 0 50px #333;}


.card
{
	perspective: 800px;
}

.card1, .card2
{
	width: 200px;
	height: 150px;
	opacity: 0.5;
	border: 2px solid #444;
	text-align: center;
	font-size: 1.3em;
	transition: 2s;
	backface-visibility: hidden;
}

.card1
{
	z-index: 100;
	background-image: linear-gradient(white, green);
}

.card2
{
	z-index: 100;
	background-image: linear-gradient(white, red);
	transform: rotateY(-180deg);
}

.card1:hover
{
	transform: rotateY(360deg);
}

.card1:hover + .card2
{
	transform: rotateY(180deg);
}

.ctaRound {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.ctaRound:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.ghost {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.ghost:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}

.radius {
	color: #20bf6b !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #20bf6b !important;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}
.radius:hover {
	color: #494949 !important;
	border-radius: 50px;
	border-color: #494949 !important;
	transition: all 0.3s ease 0s;
}

.expanse {
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}
.expanse:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');


.nav {
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  paddin: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}

.porto{
  float: none; 
  clear: both;
  width: 30%; 
  margin: 10% auto;
  background: #eee;
}

.porto ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.porto li{
  float: none; 
  width: 100%;
}

.porto li a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  border-left: 5px solid; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
}
  
.porto li a:hover{ border-bottom: 0px; color: #fff;}
.porto li:first-child a{ border-left: 10px solid #3498db; }
.porto li:nth-child(2) a{ border-left: 10px solid #ffd071; }
.porto li:nth-child(3) a{ border-left: 10px solid #f0776c; }
.porto li:last-child a{ border-left: 10px solid #1abc9c; }

.porto li a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}

.porto li a:hover:after{ width: 100%; }
.porto li:first-child a:after{ background: #3498db; }
.porto li:nth-child(2) a:after{ background: #ffd071; }
.porto li:nth-child(3) a:after{ background: #f0776c; }
.porto li:last-child a:after{ background: #1abc9c; }



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.glitcher{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
}

.glitcher{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitcher:before,
.glitcher:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitcher:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitcher:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.fire {
  margin: 50px auto;
  width: 80%;
  max-width: 1000px;
  height: 200px;

  background-position: center center;
  background-size: 1000px 200px;
  border-radius: 10px;
  font-family: 'Akronim';
  overflow: hidden;
    text-align: center;
  vertical-align: middle;

}
.fire:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
  display: inline-block;
  margin: 0;

    color: rgb(255, 115, 0);
    font-size: 100px;
  line-height: 50px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;
    
  text-shadow:
        0 3px 20px red,
        0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow,
    0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
  0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 0 yellow,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    4px -10px 10px yellow; }
  25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
    0 0 20px orange,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    3px -10px 10px yellow,
    -4px -15px 20px yellow; }
  50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 -5px 10px orange,
    -2px -5px 5px yellow,
    3px -10px 10px yellow,
    -4px -15px 20px yellow,
    2px -20px 30px rgba(255,255,0,0.5); }
  75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 -5px 10px orange,
    3px -5px 5px yellow,
    -4px -10px 10px yellow,
    2px -20px 30px rgba(255,255,0,0.5),
    0px -25px 40px rgba(255,255,0,0)}
  100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 0 yellow,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    4px -10px 10px yellow; }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

.flipping {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
}

.flip {
  height:50px;
  overflow:hidden;
}

.flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div div {
  background:#42c58a;
}
.flip div:first-child div {
  background:#4ec7f3;
}
.flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.loading {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-transform:uppercase;
  
  width:150px;
  text-align:center;
  line-height:50px;
  
  position:absolute;
  left:0;right:0;top:50%;
  margin:auto;
  transform:translateY(-50%);
}

.loading span {
  position:relative;
  z-index:999;
  color:#fff;
}
.loading:before {
  content:'';
  background:#61bdb6;
  width:128px;
  height:36px;
  display:block;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  
  animation:2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0%   {transform:translateX(-14px);}
  50%  {transform:translateX(14px);}
  100% {transform:translateX(-14px);}
}


.loading:after {
  content:'';
  background:#ff3600;
  width:14px;
  height:60px;
  display:block;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  opacity:.5;
  
  animation:2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0%   {transform:translateX(-50px);}
  50%  {transform:translateX(50px);}
  100% {transform:translateX(-50px);}
}

:root {
  --primary-color: #6CD9CE;
  --secondary-color: #D93BA1;
  --complimentary-color: #2E2473;
}

.mixblend {
  min-height: 100vh;
  position: relative;
  width: 100vw;
  display: flex;
  background-color: var(--complimentary-color);
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mixblend h1 {
  font-size: 150px;
  color: var(--primary-color);
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}

.mixblend h1::before {
    content: '';
    width: 0%;
    height: 76px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}

.mbOverlay {
    position: absolute;
    width: 100%;
    opacity: 0;
    background-color: var(--secondary-color);
    transform: scale(.5);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake
{
	0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
	100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
@keyframes snowflakes-fall
{
	0%{top:-10%}
	100%{top:100%}
}
@keyframes snowflakes-shake{
	0%{transform:translateX(0px)}
	50%{transform:translateX(80px)}
	100%{transform:translateX(0px)}
}
.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;
	-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;
	-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;
	-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;
	-webkit-animation-play-state:running,running;
	animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;
	animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
	animation-play-state:running,running}
.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.outter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bOut {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  outline: none;
  position: relative;
  padding: 10px;
  }

.bOut::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.bOut:hover, .bOut:focus {
  color: #313133;
  transform: translateY(-6px);
}

.bOut:hover::before, .bOut:focus::before {
  opacity: 1;
}

.bOut::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.bOut:hover::after, .bOut:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.post-outer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.post {
  position: relative;
  width: 285px;
  min-width: 285px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border: 10px solid #eee;
  border-radius: 10px;
}

.post-img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  visibility: hidden;
}

.post-img-hovered {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  --post-img-hovered-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  transition: all 0.3s ease-in-out;
}

.post-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  transition: all 0.2s ease-in-out;
}

p.post-desc {
  font-size: 15px;
}

.post-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  transition: all 0.2s ease-in-out;
}

.heading {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  transition: all 0.35s ease-in-out;
  z-index: 10;
}

.post-creator {
  padding: 0.75rem 0 0.75rem 0;
  transition: all 0.25s ease-in-out;
}

.post-img,
.post-img-hovered {
  background-image: var(--post-img-hovered-overlay), url(https://i.ibb.co/mqfz90N/how-to-start-with-Java-Script.jpg);
}

.post:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: 0 15px 30px rgb(255 252 239 / 10%), 0 15px 30px rgb(0 0 0 / 7%);
}

.post:hover .post-img-hovered {
  height: 100%;
  --post-img-hovered-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
}

.post:hover .post-about,
.post:hover .post-creator {
  opacity: 0;
}

.post:hover h1.heading,
.post:hover .post-desc {
  color: #fff;
  transform: translate(0, 40px);
}

.post-cat {
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  background: #505f79;
  color: #fff;
  text-decoration: unset;
}

.content {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.content .cImg {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.content:hover .cImg {
  transform: rotateY(25deg);
}
.content .cImg:hover ~ .box {
  transform: rotateY(-25deg);
}
.content .cImg:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.content .cImg .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content .cImg .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f00,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.content .cImg:hover .imgBx:before {
  opacity: 1;
}
.content .cImg .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .cImg .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.content .cImg .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.content .cImg:hover .content h2 {
  transform: translateY(0px);
}
.content .cImg .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.content .cImg:hover .content p {
  transform: translateY(0px);
}

.resizable
{
	resize: both;
  	overflow: auto;
}

/*HOVER EFFECTS*/
.rttHover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.rttHover:hover {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.zoomHover {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomHover:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.zoomoutHover {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomoutHover:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.roundedHover:hover {
  width: 200px; /* largeur de l'image */
  height: auto; /* hauteur de l'image */
  -webkit-transition: .3s ease-in-out !important; 
  transition: .3s ease-in-out !important; 
}
.roundedHover:hover {
  width: 150px; /* on affiche l'image au carré */
  height: 150px;
  border-radius: 50%; 
}

.rtzoHover {
	-webkit-transform: rotate(10deg) scale(1.25);
	transform: rotate(10deg) scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.rtzoHover:hover {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

.morphHover {
  width: 200px;
  height: 150px;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.morphHover:hover {
  width: 150px; /* on affiche l'image au carré */
  height: 150px;
  border-radius: 50%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}

/*POPPINS MULTILAYER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.poppinsMulti {
  transform: translate(-50%, -50%);
  display: block;
  color: #cf1b1b;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

.poppinsMulti::before {
  content: "PRATHAM";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.poppinsMulti::after {
  content: "PRATHAM";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.poppinsMulti:hover:before {
  top: 10px;
  left: 10px;
}

.poppinsMulti:hover:after {
  top: -10px;
  left: -10px;
}

.swash {
  /*  leverage cascade for cross-browser gradients  */
  background: radial-gradient(
    hsl(100 100% 60%), 
    hsl(200 100% 60%) 
  ) fixed;
  background: conic-gradient(
    hsl(100 100% 60%), 
    hsl(200 100% 60%), 
    hsl(100 100% 60%) 
  ) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.swashConta {
  background: hsl(204 100% 5%);
/*   background: conic-gradient(
    hsl(100 100% 60%), 
    hsl(200 100% 60%),
    hsl(100 100% 60%)
  ) fixed; */
  color: white;
  min-block-size: 200vh;
  min-inline-size: 100%;
  padding: 5vmin;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

.bigLetter::first-letter{
    color:#FE5F55;
    font-weight: bold;
    font-size: 70px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
}

.text {
    height: 200px;
    display: inline-block;
    font-size: 300px;
    line-height: 84%;
    font-family: Modak;
    padding-left: 7px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: calc(50vh - 100px);
    text-shadow: 7px 7px 0px #d2d2d22e;
}

@import url("https://fonts.googleapis.com/css?family=Modak");
.keapon {
	height: 200px;
    display: inline-block;
    font-size: 300px;
    line-height: 84%;
    font-family: Modak;
    padding-left: 7px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: calc(50vh - 100px);
    text-shadow: 7px 7px 0px #d2d2d22e;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='https://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23f5576c' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23f093fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fee140' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}

.roses{
		  font-size: 15rem;
	    text-align: center;
      height:90vh;
      line-height: 90vh;
	    color: #fcedd8;
	    background: #d52e3f;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b, 
                  40px 40px 0px #c11a2b, 
                  45px 45px 0px #c11a2b;
}

.popart{
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #ff1f8f,
						20px 20px #000000;
}

.outlineFont {
  font-size: 10vw;
  text-shadow: 4px 4px 0px #3F7FBF;
  mix-blend-mode: screen;
  animation: fadeIn 2.5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.threeD {
  color: darkgrey;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}

.threeD:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}
.tacSani {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}

@keyframes fadeMaxInOut
{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

.smag
{
	animation: fadeMaxInOut 3s ease-in-out infinite;
	opacity: 0;
}

.smag:nth-child(2)
{
	animation-delay: 3s
}
.smag:nth-child(3)
{
	animation-delay: 6s
}
.smag:nth-child(4)
{
	animation-delay: 9s
}
.smag:nth-child(5)
{
	animation-delay: 12s
}

.smash
{
	animation: fadeMaxInOut 15s linear infinite;
	opacity: 0;
}

.smash:nth-child(2)
{
	animation-delay: 3s
}
.smash:nth-child(3)
{
	animation-delay: 6s
}
.smash:nth-child(4)
{
	animation-delay: 9s
}
.smash:nth-child(5)
{
	animation-delay: 12s
}


.mkbra {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}
.mkbra:after, mkbrabtn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.mkbra:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
.mkbra:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.mkbra:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.mkbra:hover:before, .mkbra:hover:after {
  width: 100%;
  height: 100%;
}

.crMenu {
  transform: translate(-50%, -50%);
  display: flex;
}
.crMenu li {
  list-style: none;
}
.crMenu li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}
.crMenu li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
.crMenu li a:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.crMenu li a:hover {
  color: #fff;
}
.crMenu li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
.crMenu li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}


.sparkleC {
  margin: 4em auto;
  padding: 4em;
  box-sizing: border-box;
  width: 30em;
  height: 15em;
  text-align: center;
  background-color: #E3E4DB;
}
.sparkle {
  max-width: 10em;
  color: #441151;
  margin: auto auto;
}
.sparkle:hover {
  cursor: pointer;
}
.sparkleH:{
  box-sizing: border-box;
  position: relative;
  padding: 0.75em;
}
.sparkleH::before, .sparkleH::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.sparkleH::before {
  border-top: 0.2em solid #9F2042;
  border-bottom: 0.2em solid #9F2042;
  transform: scale3d(0, 1, 1);
}
.sparkleH::after {
  border-left: 0.2em solid #9F2042;
  border-right: 0.2em solid #9F2042;
  transform: scale3d(1, 0, 1);
}
.sparkleH:hover::before, .sparkleH:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 900ms;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
.ltrMenu {
	list-style-type: none;
  	display: flex;
	justify-content: space-around;
}
.ltrMenu li a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-family: 'Open Sans';
  font-size: 26px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #23abd4, #23abd4 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}
.ltrMenu li a:before {
  display: block;
  content: '';
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #23abd4;
  transition: all 0.3s ease-in-out;
}
.ltrMenu li a:hover {
  background-position: 0%;
}
.ltrMenu li a:hover:before {
  width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import "https://fonts.googleapis.com/css?family=Kreon:300,700";
.tdRenderC {
  margin: 0;
  padding: 0;
  background-color: #d0d0d0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.tdRender {
  align-self: center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: rotateX(50deg) rotateZ(1deg);
  -webkit-transform: rotateX(50deg) rotateZ(1deg);
  transform: rotateX(50deg) rotateZ(1deg);
  font-family: 'Kreon', serif;
  font-weight: 700;
  font-size: 12em;
  color: #f5f5f5;
  text-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px, white -0.15em -0.1em 100px;
}
.tdRender:hover {
  margin-top: -20px;
  text-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px, white -0.15em -0.1em 100px;
}

.apButton {
   border-radius: 4px;
   background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   padding: 20px;
   width: 200px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }
.apButton span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
}
.apButton span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
}
.apButton:hover span {
   padding-right: 25px;
}
.apButton:hover span:after {
   opacity: 1;
   right: 0;
}

.gradButton {
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: .8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1 1 0 0;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.gradButton:before, .btn:after {
  border: 3px #00bcdd solid;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}
.gradButton:before {
  border-image: linear-gradient(45deg, #00bcdd 0%, #0097dd 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: .15em;
  width: .31em;
  height: 100%;
  transform: skewY(-45deg);
}
.gradButton:after {
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1 1 1 0;
  bottom: -0.61em;
  right: 0.16em;
  width: 100%;
  height: .31em;
  transform: skewX(-45deg);
}
.gradButton:hover {
  background-color: white;
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}
.gradButton:hover:before {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTdkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(45deg, #00bcdd 0%, #0097dd 100%);
  background-image: -webkit-linear-gradient(45deg, #00bcdd 0%, #0097dd 100%);
  background-image: linear-gradient(45deg, #00bcdd 0%, #0097dd 100%);
  height: calc(100% - .13em);
  border-image-slice: 1;
}
.gradButton:hover:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMDBmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  background-image: -webkit-linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  background-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  width: calc(100% - .13em);
  border-image-slice: 1;
}

.jelly {
	cursor: pointer;
	position: relative;
	padding: 2.5rem 7.5rem;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.jelly span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.jelly::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.jelly::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.rollHide{
	display: inline-block;
	overflow: hidden;
    width: 200px;
	perspective:400px;
	background-color: transparent;
  
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));
  
}
.rollHide span{
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
  transform-style:preserve-3d;
	background-color: black;
	color: white;
  width: 100%;

}
.rollHide span:after{
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	background-color: white;
	color: black;
  width: 100%;
}

.rollHide:hover span{
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
}

.wiggle {
	text-align: center;
	font-size: 42px;
	font-family: 'Raleway', sans-serif;
	color: hsl(220, 80%, 50%);
	width: 350px;
	height: 100px;
	margin-top: calc(50vh - 75px);
	margin-left: calc(50vw - 175px);

	border-radius: 30px;
	text-shadow: 
		0px 5px hsl(220, 80%, 30%), 
		0px 10px 10px #0003;
	box-shadow: 
		0px 0px 0px 15px hsl(330, 80%, 50%),
		0px 10px 0px 15px hsl(330, 80%, 40%),
		0px 20px 20px 15px #0003;
	cursor: pointer;
	border-radius: 100px 30px 100px 30px;

}

.wiggle p {
	margin-top: 20px;
	transform: rotate(-3deg);
}

.wiggle:hover {
	animation: .8s morph ease infinite;
}

.wiggle:hover p {
	animation: .8s rot ease infinite;
}

@keyframes morph {
	0% {
		border-radius: 100px 30px 100px 30px;
	} 50% {
		border-radius: 30px 100px 30px 100px;
	} 100% {
		border-radius: 100px 30px 100px 30px;
	}
}

@keyframes rot {
	0% {
		transform: rotate(-3deg);
	} 50% {
		transform: rotate(3deg);
	} 100% {
		transform: rotate(-3deg);
	}
}

.pmTd::after, .button::before {
  position: absolute;
  content: "";
  transition: all 0.5s;
}

.pmTd {
  display: inline-block;
  padding: 20px 40px;
  color: white;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: "Rubik One", sans-serif;
  text-decoration: none;
  font-size: 4vw;
  transition: all 0.5s;
  background-color: #3498db;
}
.pmTd::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  transform: skewX(45deg);
  background-color: #196090;
}
.pmTd::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  transform: skewY(45deg);
  background-color: #124364;
}
.pmTd:active {
  margin-left: 10px;
  margin-top: 10px;
}
.pmTd:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.pmTd:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

.glossy {
	background: linear-gradient(to right, gold, darkorange);
	color: white;
	--width: 250px;
	--height: calc(var(--width) / 3);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 2.5);
	font-family: sans-serif;
	letter-spacing: 0.2em;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	overflow: hidden;
}

.glossy:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.glossy::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.glossy:hover::before {
	left: 100%;
}

.pillClean {
  display: block;
  position: relative;
  margin: 1rem;
  border: solid 0 transparent;
  border-width: 0.125em 0.25em 0.375em;
  width: 13em;
  height: 3em;
  border-radius: 1.5em;
  box-shadow: inset 0 -0.375em 1px var(--c-sh-0, #ff8c0c), 0 0.25em #9f9ea0;
  background: linear-gradient(var(--c-bg-0, #f9ea83), var(--c-bg-1, #ffa903)) padding-box, linear-gradient(#b4bab5, #e0e6dd) border-box;
  color: var(--c, #848483);
  font: 600 1em arial, sans-serif;
  text-align: left;
  text-indent: 1.25em;
  text-shadow: 1px 1px rgba(192, 192, 192, 0.5);
  text-transform: uppercase;
  cursor: pointer;
}
.pillClean:after {
  display: flex;
  align-items: center;
  position: absolute;
  top: -0.125em;
  right: -0.25em;
  bottom: -0.375em;
  padding: 0 1.25em 0.1875em 0.5em;
  border-radius: 0 3em 3em 0;
  box-shadow: inset 0 -0.1875em 1px var(--c-sh-1, #4f980d), 0 0.125em 1px var(--c-sh-2, #527235);
  background: linear-gradient(var(--c-bg-2, #cbe949), var(--c-bg-3, #9dc000) 50%, var(--c-bg-4, #7daf00) 0, var(--c-bg-5, #5a7f00));
  color: #fff;
  text-indent: 0;
  content: attr(data-xtra);
}
.pilCl1:nth-child(2) {
  --c-sh-0: #265072;
  --c-sh-1: #ff7212;
  --c-sh-2: #754d36;
  --c-bg-0: #13d3f3;
  --c-bg-1: #2c64a9;
  --c-bg-2: #ffca59;
  --c-bg-3: #f7a307;
  --c-bg-4: #da7800;
  --c-bg-5: #b15d00;
  --c: #265072;
  font-size: 1.25em;
}
.pilCl2:nth-child(3) {
  --c-sh-0: #4f0505;
  --c-sh-1: #858585;
  --c-sh-2: #040404;
  --c-bg-0: #d5412d;
  --c-bg-1: #ca0a0b;
  --c-bg-2: #999;
  --c-bg-3: #606060;
  --c-bg-4: #2f2d2d;
  --c-bg-5: #050505;
  --c: #540303;
  font-size: 1.5em;
}

.frozen {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
  -webkit-background-clip: text;
  background-size: contain;
  width: 100%;
  text-align: center;
  color: transparent;
  font-weight: 900;
}
.frozen::before {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  color: transparent;
  mix-blend-mode: screen;
  -webkit-animation: shine 1s infinite;
          animation: shine 1s infinite;
  background-size: 200%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shine {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes shine {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
/* Not needed for demo */
@font-face {
  font-family: "frozen";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff");
}

.frozen {
  left: 0px;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 20vw;
  margin: 0;
  font-family: "frozen", serif;
  font-weight: 700;
}

@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");

:root {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: #181717;
}

.psycho {
  font-family: "Bungee Shade", cursive;
  font-size: var(--f);
  background-color: var(--bg);
  display: flex;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.psycho {
  flex: 1;
  line-height: 0.75;
  margin: auto;
  color: #1af0dc;
  text-align: center;
  transform: scaleX(var(--scale, 1));
  animation: glitch-p 11s infinite alternate;
}
.psycho::before, p::after {
  --top: 0;
  --left: 0;
  --v-height: 30%;
  --n-tenth: calc(var(--f-size) * .1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  transform: translateX(calc(var(--left) * 100%));
  filter: drop-shadow(0 0 transparent);
  text-shadow: calc(var(--left) * -3em) 0 0.02em lime, calc(var(--left) * -6em) 0 0.02em #ff00e1;
  background-color: var(--bg);
  clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
}
.psycho::before {
  animation: glitch-b 1.7s infinite alternate-reverse;
}
.psycho::after {
  animation: glitch-a 3.1s infinite alternate;
}

@keyframes glitch-p {
  17% {
    --scale: .87;
  }
  31% {
    --scale: 1.1;
  }
  37% {
    --scale: 1.3;
  }
  47% {
    --scale: .91;
  }
  87% {
    --scale: 1;
  }
}
@keyframes glitch-a {
  10%, 30%, 50%, 70%, 90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
  }
  20% {
    --left: .005;
  }
  40% {
    --left: .01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: .03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: .07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: .083;
    --v-height: 30%;
    --top: 1;
  }
}
@keyframes glitch-b {
  10%, 30%, 50%, 70%, 90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -.005;
  }
  40% {
    --left: -.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -.083;
    --v-height: 30%;
    --top: 1;
  }
}

.technoSpring {
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: blue;
  font-size: 0;
  transform: translate3d(0, 0, 0);
  filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.technoSpring span {
  font-size: 40px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  padding: 0 0.1em;
}
.technoSpring span:nth-child(0n) {
  transition-delay: 0ms;
}
.technoSpring span:nth-child(0n):after {
  transition-delay: 0ms;
}
.technoSpring span:nth-child(1n) {
  transition-delay: 83.3333333333ms;
}
.technoSpring span:nth-child(1n):after {
  transition-delay: 83.3333333333ms;
}
.technoSpring span:nth-child(2n) {
  transition-delay: 166.6666666667ms;
}
.technoSpring span:nth-child(2n):after {
  transition-delay: 166.6666666667ms;
}
.technoSpring span:nth-child(3n) {
  transition-delay: 250ms;
}
.technoSpring span:nth-child(3n):after {
  transition-delay: 250ms;
}
.technoSpring span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: -1%;
  width: 102%;
  height: 2em;
  background: blue;
  transform-origin: top center;
  transform: scaley(0.1);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
}
.technoSpring:hover span {
  transform: translateY(-1em);
}
.technoSpring:hover span:after {
  transform: scaleY(1);
}
.technoSpring:active span {
  transform: translateY(0);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}
.technoSpring:active span:after {
  transform: scaleY(0.5);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}

.aunder, .aunder:focus, .aunder:hover, .aunder:active, .aunder:visited {
  color: inherit;
  text-decoration: none;
}

.aunder {
  filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.16));
  font-size: 1rem;
  max-width: 25em;
  padding: 2em 2.4em;
  position: relative;
  transform: translateZ(0);
}

.aunder {
  align-items: center;
  display: flex;
  justify-content: center;
}

.aunder::before,
.aunder::after {
  background-color: #fff;
  border-radius: 3px;
  content: " ";
  display: block;
  position: absolute;
  transform-origin: right;
  transition: transform 500ms;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.aunder::after {
  background-color: #444;
  transform: scaleX(0);
  transition-duration: 450ms;
}

.aunder-title {
  background-image: linear-gradient(0deg, #ddd, #000), linear-gradient(0deg, #fff, #fff);
  background-size: 0 2px, 0 100%;
  background-position: 8px calc(1em + 8px), 0 0;
  background-repeat: no-repeat;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  display: inline;
  font-size: 30px;
  font-weight: 300;
  padding: 6px 8px;
  margin-left: -8px;
  pointer-events: none;
  line-height: 1.75;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff;
  transition: background ease-out 500ms;
}

.aunder:hover > .aunder-title {
  background-size: calc(100% - 16px) 2px, 100% 100%;
  transition-duration: 200ms;
}

.aunder:hover::before {
  transform: scaleX(0);
  transition-duration: 450ms;
  transition-timing-function: ease-in-out;
}

.aunder:hover::after {
  transform: scaleX(1);
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
  transform-origin: left;
}

/*setup*/
*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(https://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'PressStart';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(https://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: local('Vampiro One'), local('VampiroOne-Regular'), url(https://themes.googleusercontent.com/static/fonts/vampiroone/v3/Ho2Xld8UbQyBA8XLxF1_NYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

/*neeeeoooon*/
.neon1, .neon2, .neon3, .neon4, .neon5, .neon6 {
  text-align:center;
  font-size:7em;
  margin:20px 0 20px 0; 
  text-decoration:none; 
  transition: all 0.5s;
}

.neon1{
  color:#FF1177;
  font-family:Monoton;
}
.neon1:hover{
  animation: neon1 1.5s ease-in-out infinite alternate; 
}

.neon2{
  font-size:1.5em;
  color:#228DFF;
  font-family:Iceland;
}
.neon2:hover{
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.neon3{
  color:#FFDD1B;
  font-family:Pacifico;
}
.neon3:hover{ 
  animation: neon3 1.5s ease-in-out infinite alternate; 
}

.neon4{
  color:#B6FF00;
  font-family:PressStart;
  font-size:0.8em;
}
.neon4:hover{
  animation: neon4 1.5s ease-in-out infinite alternate;
}

.neon5{
  color:#FF9900;
  font-family:Audiowide;
}
.neon5:hover{
  animation: neon5 1.5s ease-in-out infinite alternate; 
}

.neon6{
  color:#BA01FF;
  font-family:Vampiro One;
}
.neon6:hover{
  animation: neon6 1.5s ease-in-out infinite alternate;
}

.neon:hover{
color:#ffffff;  
}
/*glow*/
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFDD1B,
               0 0 70px  #FFDD1B,
               0 0 80px  #FFDD1B,
               0 0 100px #FFDD1B,
               0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFDD1B,
               0 0 35px #FFDD1B,
               0 0 40px #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #B6FF00,
               0 0 70px  #B6FF00,
               0 0 80px  #B6FF00,
               0 0 100px #B6FF00,
               0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #B6FF00,
               0 0 35px #B6FF00,
               0 0 40px #B6FF00,
               0 0 50px #B6FF00,
               0 0 75px #B6FF00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               0 0 100px #FF9900,
               0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               0 0 50px #FF9900,
               0 0 75px #FF9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #ff00de,
               0 0 70px #ff00de,
               0 0 80px #ff00de,
               0 0 100px #ff00de,
               0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ff00de,
               0 0 35px #ff00de,
               0 0 40px #ff00de,
               0 0 50px #ff00de,
               0 0 75px #ff00de;
  }
}

.longshadow {
  text-shadow: #8202fe 1px 1px, #8405fc 2px 2px, #8507fb 3px 3px, #8609fa 4px 4px, #870cf9 5px 5px, #890ef7 6px 6px, #8a10f6 7px 7px, #8b13f5 8px 8px, #8c15f4 9px 9px, #8e17f2 10px 10px, #8f1af1 11px 11px, #901cf0 12px 12px, #911eee 13px 13px, #9321ed 14px 14px, #9423ec 15px 15px, #9525eb 16px 16px, #9628e9 17px 17px, #982ae8 18px 18px, #992ce7 19px 19px, #9a2fe6 20px 20px, #9b31e4 21px 21px, #9d33e3 22px 22px, #9e36e2 23px 23px, #9f38e1 24px 24px, #a13bdf 25px 25px, #a23dde 26px 26px, #a33fdd 27px 27px, #a442db 28px 28px, #a644da 29px 29px, #a746d9 30px 30px, #a849d8 31px 31px, #a94bd6 32px 32px, #ab4dd5 33px 33px, #ac50d4 34px 34px, #ad52d3 35px 35px, #ae54d1 36px 36px, #b057d0 37px 37px, #b159cf 38px 38px, #b25bcd 39px 39px, #b35ecc 40px 40px, #b560cb 41px 41px, #b662ca 42px 42px, #b765c8 43px 43px, #b867c7 44px 44px, #ba69c6 45px 45px, #bb6cc5 46px 46px, #bc6ec3 47px 47px, #bd70c2 48px 48px, #bf73c1 49px 49px, #c075c0 50px 50px, #c177be 51px 51px, #c37abd 52px 52px, #c47cbc 53px 53px, #c57eba 54px 54px, #c681b9 55px 55px, #c883b8 56px 56px, #c985b7 57px 57px, #ca88b5 58px 58px, #cb8ab4 59px 59px, #cd8cb3 60px 60px, #ce8fb2 61px 61px, #cf91b0 62px 62px, #d093af 63px 63px, #d296ae 64px 64px, #d398ac 65px 65px, #d49aab 66px 66px, #d59daa 67px 67px, #d79fa9 68px 68px, #d8a1a7 69px 69px, #d9a4a6 70px 70px, #daa6a5 71px 71px, #dca8a4 72px 72px, #ddaba2 73px 73px, #deada1 74px 74px, #e0b0a0 75px 75px, #e1b29e 76px 76px, #e2b49d 77px 77px, #e3b79c 78px 78px, #e5b99b 79px 79px, #e6bb99 80px 80px, #e7be98 81px 81px, #e8c097 82px 82px, #eac296 83px 83px, #ebc594 84px 84px, #ecc793 85px 85px, #edc992 86px 86px, #efcc91 87px 87px, #f0ce8f 88px 88px, #f1d08e 89px 89px, #f2d38d 90px 90px, #f4d58b 91px 91px, #f5d78a 92px 92px, #f6da89 93px 93px, #f7dc88 94px 94px, #f9de86 95px 95px, #fae185 96px 96px, #fbe384 97px 97px, #fce583 98px 98px, #fee881 99px 99px, #ffea80 100px 100px, #8100FF 0px 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");
.retroGridC {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.retroGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(rgba(118, 0, 191, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
  perspective: 700px;
  font-size: clamp(10px, 2vw, 20px);
}

.retroLines {
  width: 100vw;
  height: 4em;
  background: linear-gradient(rgba(89, 193, 254, 0.2) 20%, #59c1fe 40%, #59c1fe 60%, rgba(89, 193, 254, 0.2) 80%);
  background-size: 1px 0.5em;
  box-shadow: 0 0 1em rgba(89, 193, 254, 0.4);
  transform: translateY(-1em);
}

h1.retro {
  position: relative;
  font-family: "Exo";
  font-size: 9em;
  margin: 0;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
}
h1.retro::after {
  content: "";
  position: absolute;
  top: -0.1em;
  right: 0.05em;
  width: 0.4em;
  height: 0.4em;
  background: radial-gradient(white 3%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.05) 60%, transparent 80%), radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/5% 100%, radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/70% 5%;
  background-repeat: no-repeat;
}
h1.retro span:first-child {
  display: block;
  text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black, 0 0 5em #165ff3;
  -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0.5);
}
h1.retro span:last-child {
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
  -webkit-text-stroke: 0.01em #94a0b9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.retro {
  font-family: "Mr Dafoe";
  margin: 0;
  font-size: 5.5em;
  margin-top: -0.6em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
}

.retroGrid {
  background: linear-gradient(transparent 65%, rgba(46, 38, 255, 0.4) 75%, #7d41e6 80%, rgba(46, 38, 255, 0.4) 85%, transparent 95%), linear-gradient(90deg, transparent 65%, rgba(46, 38, 255, 0.4) 75%, #7d41e6 80%, rgba(46, 38, 255, 0.4) 85%, transparent 95%);
  background-size: 30px 30px;
  width: 200vw;
  height: 300vh;
  position: absolute;
  transform: rotateX(-100deg);
  -webkit-mask-image: linear-gradient(black, rgba(0, 0, 0, 0) 80%);
}

.sticker {
  --c1: #ef548f;
  --c2: #ef8b6d;
  --c3: #cfef6b;
  --c4: #3bf0c1;
  --c5: #bb4af0;
  --shine-angle: 15deg;
  display: inline-grid;
  grid-template-areas: "text";
  place-items: center;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: clamp(3rem, 15vw, 10rem);
  text-transform: uppercase;
  color: var(--c5);
}
.sticker-lg {
  font-size: clamp(6rem, 30vw, 20rem);
}
.sticker span {
  background: linear-gradient(var(--shine-angle), rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 35%, rgba(255, 255, 255, 0.98) 49.95%, rgba(255, 255, 255, 0.98) 50.15%, rgba(255, 0, 0, 0) 65%, rgba(255, 0, 0, 0)), linear-gradient(to right, var(--c1), var(--c2), var(--c3), var(--c4), var(--c5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.6);
}
.sticker, .sticker::before, .sticker::after {
  grid-area: text;
}
.sticker::before, .sticker::after {
  content: attr(data-text);
  color: #fff;
}
.sticker::before {
  -webkit-text-stroke: 0.21em white;
  background: no-repeat linear-gradient(white, white) 15% 50%/85% 60%;
}
.sticker::after {
  text-shadow: 0.07em 0.08em 0.05em rgba(0, 0, 0, 0.75), -0.07em -0.05em 0.05em rgba(0, 0, 0, 0.75);
}

.beetoC {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.beeto {
	font-size: 8vw;
	font-weight: 900;
	background-color: #000;
	color: #fff;
	display: block;
	padding: .5em;
}

.beeto:nth-child(2) {
	position: absolute;
	background-color: #fff;
	color: #000;
	clip-path: inset(-1% -1% 50% -1%); /* Added the negative values to prevent icky "bleed" in Chrome*/
}

/*.sugarSweet {
	color: mix(#fff, #e91e63, 85%);
	font-size: calc(1em + 20vw) ;  
	font-weight: 900;
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
		0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
		0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
		0.015em 0.015em mix(#fff, #e91e63, 64%), 
		0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
		0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
		0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
		0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
}*/

/*ONlY FOR DEMO*/
/*.square
{
	display: inline-block;
	text-align: center;
	height:50px;
	width:50px;
}*/
.backs {text-align: left;}
