td {
	border: solid 3px black;
	width: 50px;
	height: 50px;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

div {
	border: solid 2px green;
	background-color: yellow;
}

@media print 
{
	.noprint{display:none}
	table {border-collapse: collapse;}
	td {height: 25px;width: 25px;border: none;}
}