table {border-collapse: collapse;}
td {height: 25px;width: 25px;}
.black {
	background-color: black;
}

.white {
	background-color: white;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}