<p id="626036599">Probablement le plus compliqué de la Saga, ce jeu est très bien fait.Il est facile d'accès grace aux tutoriels en live.</p><br><br><br><br><br><br><br>
<p id="571899243">Plutôt facile à jouer. Pour les infos, cliquez sur ?</p><br><br><br><br><br><br><br>
<p id="686913252">Compliqué au début, mais se facilite au fur et à mesure. Pour les infos, cliquez sur ?</p><br><br><br><br><br><br><br>
<p id="488114341">Avec la souris, cliquez des objets pour voir leur effet sur le jeu. Au 3ème tableau, dialoguez.</p><br><br><br><br><br><br><br>
<p id="488939805">Avancez avec >, reculez avec <, sautez avec ^.Sauvez Wall-e. Enlevez la barrière avec la plante.</p><br><br><br><br><br><br><br>
<p id="488066858">Bougez avec les flèches. Évitez les fantômes.</p><br><br><br><br><br><br><br>
<p id="488513010">Baladez vous lorsque les speechs sont terminés pour trouver des suspects. Observez bien les décors et personnages !</p><br><br><br><br><br><br><br>
<p id="636455309">Utilisez la souris pour effectuer la trajectoire représentée avec des points bleus.Frappez N pour le tableau suivant, B pour le précédent.</p><br><br><br><br><br><br><br>
<p id="615427409">Utilisez les flèches pour vous déplacer, espace pour sauter.</p><br><br><br><br><br><br><br>
